body {
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  overflow: hidden;
  font-weight: 300;
}

ul {
  font-size: smaller;
  display: block;
  list-style-type: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.messages li {
  background: rgba(10, 10, 10, 0.7);
  color: #fff;
  position: relative;
  left: 0px;
  right: 0;
  padding: 10px;
  border: 0;
  border-left-width: 4px;
  border-style: solid;
  opacity: 1;

  max-height: 100px;
  overflow: hidden;
  /*display: -webkit-box;*/
}

.messages li .name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.messages li .time {
  position: absolute;
  right: 13px;
  top: 13px;
}

.messages li .msg {
  font-size: 20px;
  margin-right: 13px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.messages li .msg img {
  display: inline-block;
  padding-top: 5px;
  margin: -5px 0;
  vertical-align: baseline;
}

.messages li.hidden {
  opacity: 0;

  -webkit-animation: fadeOutSlideUp 0.9s;
  -webkit-animation-timing-function: ease-in-out;
}

.animated {
  -webkit-transition: bottom 0.9s;
}

@-webkit-keyframes fadeOutSlideUp {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: translate(0, -100px);
  }
}
